searchPrice
sortArts
searchPriceV2
searchPriceV3
howManyJesus
compress
precious
reverse
reverseV2
console
queue
tank
sortStone
insertionSort
quickSort
mergeSort
countSort
findShifted
findPotentialCriminels
printYoungest
info
createBST
findParent
decrypt
bit
shift
xor
getPlace
clearPlace
setPlace
updatePlace
isFilled
occupiedPlaces
carPosition
possibleSlices
bestPrice
bestPriceV2
sinkIsland
Scrabble
permutationV2
makeThemEat
probaDistance
hotspots
roulette
minPersons
knightOut
helpNephew
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# unix files
._.DS_Store*
.*
!.gitignore
